* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: wheat;
  color: grey;
  text-align: center;
  display: grid;
}

ul li {
  list-style: none;
}
h2 {
  font-size: 18px;
}
ul li a {
  text-decoration: none;
  text-decoration-line: none;
  color: grey;
  font-size: 13px;
}
footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: initial;
  gap: 15px 75px;
  background-color: black;
  justify-content: flex-start;
  text-align: left;
  line-height: 1.5;
}

.middletwo h2 ul {
  size: 20px;
}

img {
  width: 26px;
}

li a img {
  width: 14px;
}
